<!DOCTYPE html>
<html lang="en">
{{> head }}

<body>
    {{> menu }}

    <div class="row">
        <div class="col-8">
            <h1>About</h1>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Possimus atque maxime ullam, libero excepturi
                iusto molestias saepe ipsam! Dolorum iusto amet maiores quibusdam repellendus quas placeat, optio id
                corporis excepturi!</p>
        </div>
        <div class="col-4">
            <img src="assets/images/Evento3.jpg" alt="Evento 3" class="img-thumbnail">
        </div>
    </div>

    {{> footer }}
</body>
</html>